body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e1 div {
  position: relative;
  font-size: 30px;
  width: 6em;
  height: 3em;
  color: midnightblue;
  border: 0.5em solid;
  border-radius: 0.2em;
  background-image: linear-gradient(to right, midnightblue, midnightblue);
  background-repeat: no-repeat;
  background-size: 0% 80%;
  background-position: 0.3em 0.3em;
  transition: 3s steps(5);
}

.e1 div:hover {
  background-size: 90% 80%;
}

.e1 div::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 2em;
  background: currentColor;
  top: 0.5em;
  right: -1em;
  border-radius: 0 0.2em 0.2em 0;
}

.e2 {
  display: flex;
  justify-content: space-around;
  width: 60em;
  font-size: 10px;
}

.e2 div {
  width: 10em;
  height: 10em;
  background: lightgreen;
}

.e2 div:nth-child(1) {
  transition: 0.5s;
}

.e2 div:nth-child(1):hover {
  background: lightcoral;
}

.e2 div:nth-child(2) {
  transition: 0.5s ease-in-out;
}

.e2 div:nth-child(2):hover {
  border-radius: 50%;
}

.e2 div:nth-child(3) {
  transition: 0.5s linear;
}

.e2 div:nth-child(3):hover {
  transform: scale(0.5);
}

.e2 div:nth-child(4) {
  transition: 0.5s ease-in;
}

.e2 div:nth-child(4):hover {
  transform: rotate(1turn);
}

.e2 div:nth-child(5) {
  transition: 0.5s ease-out;
}

.e2 div:nth-child(5):hover {
  box-shadow: 0 0 5px 2px gray;
}

.e3 {
  display: flex;
  justify-content: space-around;
  width: 60em;
  font-size: 10px;
  padding: 1em;
  background: whitesmoke;
}

.e3 div {
  width: 5em;
  height: 5em;
  background: lightgreen;
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
}

.e3 div:nth-child(1) {
  --n: 1;
}

.e3 div:nth-child(2) {
  --n: 2;
}

.e3 div:nth-child(3) {
  --n: 3;
}

.e3 div:nth-child(4) {
  --n: 4;
}

.e3 div:nth-child(5) {
  --n: 5;
}

.e3 div:nth-child(6) {
  --n: 6;
}

.e3 div:nth-child(7) {
  --n: 7;
}

.e3 div:nth-child(8) {
  --n: 8;
}

.e3 div:nth-child(9) {
  --n: 9;
}

.e3 div:nth-child(10) {
  --n: 10;
}

.e3:hover div {
  transform: translateY(8em) scale(0.6);
  background: lightcoral;
  border-radius: 50%;
}

.e4 div input {
  visibility: hidden;
}

.e4 div input:checked + label {
  border-color: lightcoral;
}

.e4 div label {
  color: dodgerblue;
  border-style: solid;
  border-width: 0 0 0.2em 0;
  border-color: transparent;
  transition: 0.3s;
}

.e5 {
  position: relative;
  display: flex;
  width: 20em;
  height: 10em;
  transition: 1s;
}

.e5 div {
  box-sizing: border-box;
  flex: 1;
  background: currentColor;
  filter: opacity(0.6);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--n));
}

.e5 div:nth-child(1) {
  --n: 1;
  color: orangered;
}

.e5 div:nth-child(2) {
  --n: 2;
  color: orange;
}

.e5 div:nth-child(3) {
  --n: 3;
  color: yellow;
}

.e5 div:nth-child(4) {
  --n: 4;
  color: mediumspringgreen;
}

.e5 div:nth-child(5) {
  --n: 5;
  color: deepskyblue;
}

.e5 div:nth-child(6) {
  --n: 6;
  color: dodgerblue;
}

.e5 div:nth-child(7) {
  --n: 7;
  color: mediumpurple;
}

.e5:hover {
  align-items: center;
  justify-content: center;
  transform: translateY(5em);
}

.e5:hover > div {
  position: absolute;
  width: calc(100% - 2em * (var(--n) - 1));
  height: calc(200% - 2em * (var(--n) - 1));
  border-radius: 50%;
  background: transparent;
  border: 1em solid;
  border-color: transparent currentColor currentColor transparent;
  transform: rotate(225deg);
  filter: opacity(1);
}

.e6 {
  margin-top: 10em;
  height: 20em;
}

.e6 div {
  font-size: 30px;
  width: 1em;
  height: 1em;
  color: red;
  box-shadow: 0 0 2em;
  background: currentColor;
  border-radius: 50%;
  transition: 0.5s;
}

.e6 div:hover {
  box-shadow: -3.3em -3.3em, -2.2em -3.3em, 2.2em -3.3em, 3.3em -3.3em, -4.4em -2.2em, -3.3em -2.2em, -2.2em -2.2em, -1.1em -2.2em, 1.1em -2.2em, 2.2em -2.2em, 3.3em -2.2em, 4.4em -2.2em, -4.4em -1.1em, -3.3em -1.1em, -2.2em -1.1em, -1.1em -1.1em, 0em -1.1em, 1.1em -1.1em, 2.2em -1.1em, 3.3em -1.1em, 4.4em -1.1em, -4.4em 0em, -3.3em 0em, -2.2em 0em, -1.1em 0em, 0em 0em, 1.1em 0em, 2.2em 0em, 3.3em 0em, 4.4em 0em, -3.3em 1.1em, -2.2em 1.1em, -1.1em 1.1em, 0em 1.1em, 1.1em 1.1em, 2.2em 1.1em, 3.3em 1.1em, -2.2em 2.2em, -1.1em 2.2em, 0em 2.2em, 1.1em 2.2em, 2.2em 2.2em, -1.1em 3.3em, 0em 3.3em, 1.1em 3.3em, 0em 4.4em;
  filter: drop-shadow(3.3em 2.2em dodgerblue);
  color: rgba(255, 0, 0, 0.6);
  transition: box-shadow 1s cubic-bezier(0.5, 1.7, 0.5, 1.5), filter 0.8s 0.5s cubic-bezier(0.75, -0.5, 0.25, 1);
}
